<h1 style="text-align: center;"><b>Школа глубокого обучения ФПМИ МФТИ</b></h1>
<h1 style="text-align: center;"><b>Домашнее задание. Библиотека <a href="http://pandas.pydata.org/">pandas</a></b></h1>

## Полезное:
* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html
* Статья от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/
* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf
* docstring (`Shift+Tab` внутри скобок функции)

## Данные ([ссылка](https://www.kaggle.com/sdolezel/black-friday))

In [301]:
import pandas as pd
import numpy as np
import IPython.display as ds
import builtins
def print(*args, sep='\n' + '-'*80 + '\n', end='\n' + '='*80 + '\n'):
    builtins.print(*args, sep=sep, end=end)

In [313]:
data = pd.read_csv('BlackFriday.csv')
ds.display(ds.HTML(data.head(5).to_html()))
ds.display(ds.HTML(data.describe().to_html()))
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB
None
================================================================================

## Задачи

### 1. Сколько всего возрастных категорий?

In [125]:
%time print(data['Age'].nunique())
%time print(data['Age'].unique().size)
%time print(data['Age'].value_counts())

7
================================================================================
Wall time: 7 ms
7
================================================================================
Wall time: 25 ms
26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64
================================================================================
Wall time: 72.8 ms

### 2. Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [95]:
data[(data['Gender'] == 'M') & (data['City_Category'] == 'A')].describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,1.098310e+05,109831.000000,109831.000000,109831.000000,73729.000000,31850.000000,109831.000000
mean,1.002861e+06,8.461127,0.380075,5.360299,9.887222,12.725118,9061.717739
std,1.763074e+03,6.799316,0.485407,3.816885,5.087861,4.101281,4931.360715
min,1.000003e+06,0.000000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001244e+06,3.000000,0.000000,1.000000,5.000000,9.000000,5415.000000
50%,1.002946e+06,7.000000,0.000000,5.000000,9.000000,15.000000,7972.000000
75%,1.004344e+06,15.000000,1.000000,8.000000,15.000000,16.000000,11921.000000
max,1.006034e+06,20.000000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [126]:
data[data['Gender'] == 'M'].groupby('City_Category').describe()

                User_ID                                                   \
                  count          mean          std        min        25%
City_Category
A              109831.0  1.002861e+06  1763.073907  1000003.0  1001244.0
B              169999.0  1.003006e+06  1660.288252  1000004.0  1001639.0
C              125550.0  1.002987e+06  1671.403602  1000002.0  1001564.0

                                               Occupation            ...  \
                     50%        75%        max      count      mean  ...
City_Category                                                        ...
A              1002946.0  1004344.0  1006034.0   109831.0  8.461127  ...
B              1003054.0  1004354.0  1006040.0   169999.0  8.319714  ...
C              1003058.0  1004343.0  1006030.0   125550.0  8.841744  ...

              Product_Category_3        Purchase                             \
                             75%   max     count          mean          std
City_Category
A                           16.0  18.0  109831.0   9061.717739  4931.360715
B                           16.0  18.0  169999.0   9400.754481  4999.872424
C                           16.0  18.0  125550.0  10033.197730  5175.889378


                 min     25%     50%      75%      max
City_Category
A              185.0  5415.0  7972.0  11921.0  23961.0
B              185.0  5853.0  8074.0  12202.5  23960.0
C              186.0  6132.0  8689.0  15181.0  23961.0

[3 rows x 56 columns]

`data.query(<condition>)`  ___и___ `data[data[...] cond 1 ... ]` ___эквивалентны, но запрос___ `data.query` ___работает быстрее___

In [163]:
%time print(data[(data['Gender'] == 'M') & (data['City_Category'] == 'A')].describe()['User_ID']['count'])
%time print(data[(data['Gender'] == 'M') & (data['City_Category'] == 'A')].shape)
%time print(data.query('Gender == "M" & City_Category == "A"').shape)
%time print(data[data['Gender'] == 'M']['City_Category'].value_counts())
%time print(data[data['Gender'] == 'M']['City_Category'].value_counts()['A'])
%time print(data.groupby(['Gender'])['City_Category'].value_counts())

109831.0
================================================================================
Wall time: 174 ms
(109831, 12)
================================================================================
Wall time: 78 ms
(109831, 12)
================================================================================
Wall time: 46.8 ms
B    169999
C    125550
A    109831
Name: City_Category, dtype: int64
================================================================================
Wall time: 125 ms
109831
================================================================================
Wall time: 117 ms
Gender  City_Category
F       B                 56494
        C                 40896
        A                 34807
M       B                169999
        C                125550
        A                109831
Name: City_Category, dtype: int64
================================================================================
Wall time: 140 ms

### 3. Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [139]:
data[(data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 20000.0)].describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,1.222300e+04,12223.000000,12223.000000,12223.000000,8278.000000,3495.000000,12223.000000
mean,1.003219e+06,6.246748,0.760615,5.563446,10.149915,12.817167,9320.128855
std,1.777748e+03,6.436731,0.426725,3.489453,4.838768,3.981431,4545.798987
min,1.000045e+06,0.000000,0.000000,1.000000,2.000000,3.000000,2003.000000
25%,1.001899e+06,1.000000,1.000000,3.000000,6.000000,9.000000,6045.500000
50%,1.003529e+06,3.000000,1.000000,5.000000,11.000000,14.000000,8050.000000
75%,1.004472e+06,11.000000,1.000000,8.000000,14.000000,16.000000,11770.500000
max,1.006039e+06,20.000000,1.000000,18.000000,18.000000,18.000000,23920.000000

In [321]:
%time print(data[(data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 20000.0) \
                ].describe()['User_ID']['count'])
%time print(data[(data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 20000.0)].shape)
%time print(data.query("Gender == 'F' & Age == '46-50' & Purchase > 20000.0").shape)
%time print(data[(data['Gender'] == 'F') & (data['Purchase'] > 20000.0)]['Age'].value_counts())

270.0
================================================================================
Wall time: 103 ms
(270, 12)
================================================================================
Wall time: 75 ms
(270, 12)
================================================================================
Wall time: 27 ms
26-35    1021
36-45     591
18-25     356
51-55     300
46-50     270
55+       164
0-17       77
Name: Age, dtype: int64
================================================================================
Wall time: 43 ms

### 4. Сколько NaN'ов в столбце Product_Category_3?

In [185]:
%time print(data.count()['User_ID'] - data['Product_Category_3'].count())
%time print(data['Product_Category_3'].value_counts(dropna=False))

373299
================================================================================
Wall time: 249 ms
NaN     373299
16.0     32148
15.0     27611
14.0     18121
17.0     16449
5.0      16380
8.0      12384
9.0      11414
12.0      9094
13.0      5385
6.0       4818
18.0      4563
4.0       1840
11.0      1773
10.0      1698
3.0        600
Name: Product_Category_3, dtype: int64
================================================================================
Wall time: 15.6 ms

### 5. Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют вместе мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [81]:
ages = ['55+', '46-50', '51-55', '36-45']
data[data['Gender'] == 'M'].groupby('Age').describe() # equal
print(data[(data['Gender'] == 'M') & (data['Age'] == '26-35')].describe())
print(data[(data['Gender'] == 'F') & (data['Age'].isin(ages))].describe())

            User_ID     Occupation  Marital_Status  Product_Category_1  \
count  1.653420e+05  165342.000000   165342.000000       165342.000000
mean   1.003044e+06       8.320511        0.388328            5.110408
std    1.691932e+03       6.757262        0.487371            3.798971
min    1.000003e+06       0.000000        0.000000            1.000000
25%    1.001611e+06       2.000000        0.000000            1.000000
50%    1.003182e+06       7.000000        0.000000            5.000000
75%    1.004390e+06      15.000000        1.000000            8.000000
max    1.006040e+06      20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3       Purchase
count       114623.000000        52552.000000  165342.000000
mean             9.734713           12.690763    9470.621052
std              5.145427            4.127973    5049.267265
min              2.000000            3.000000     185.000000
25%              5.000000            9.000000    5856.000000
50%              8.000000           15.000000    8094.000000
75%             15.000000           16.000000   12445.000000
max             18.000000           18.000000   23961.000000
================================================================================

            User_ID    Occupation  Marital_Status  Product_Category_1  \
count  5.383900e+04  53839.000000    53839.000000        53839.000000
mean   1.003105e+06      7.167629        0.541373            5.758818
std    1.732549e+03      6.457363        0.498290            3.560094
min    1.000006e+06      0.000000        0.000000            1.000000
25%    1.001816e+06      1.000000        0.000000            3.000000
50%    1.003093e+06      6.000000        1.000000            5.000000
75%    1.004596e+06     12.000000        1.000000            8.000000
max    1.006039e+06     20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3      Purchase
count        36530.000000        15046.000000  53839.000000
mean            10.243389           12.700984   9040.477646
std              4.858824            4.041112   4772.706734
min              2.000000            3.000000    185.000000
25%              6.000000            9.000000   5914.000000
50%             11.000000           14.000000   8010.000000
75%             14.000000           16.000000  11619.000000
max             18.000000           18.000000  23959.000000
================================================================================

In [213]:
%time that_males = data[(data['Gender'] == 'M') & (data['Age'] == '26-35')]['User_ID'].size
print(that_males)
%time that_males = data[(data['Gender'] == 'M') & (data['Age'] == '26-35')].shape
print(that_males)

Wall time: 106 ms
165342
================================================================================
Wall time: 93.6 ms
(165342, 12)
================================================================================

In [215]:
%time that_males = data[(data['Gender'] == 'M') & (data['Age'] == '26-35')]['User_ID'].count()
%time that_females = data[(data['Gender'] == 'F') & (data['Age'].isin(ages))]['User_ID'].count()

print(that_males, that_females, data['User_ID'].count(), sep='\t')
print(((that_males + that_females) / data['User_ID'].count()).round(4))

Wall time: 97 ms
Wall time: 92 ms
165342	53839	537577
================================================================================
0.4077
================================================================================

In [218]:
ages = ['55+', '46-50', '51-55', '36-45']
%time male_rate = ((data['Gender'] == 'M') & (data['Age'] == '26-35')).mean()
%time female_rate = ((data['Gender'] == 'F') & (data['Age'].isin(ages))).mean()
print((male_rate + female_rate).round(4))

Wall time: 55 ms
Wall time: 79 ms
0.4077
================================================================================

In [229]:
%time rate = ((data['Age'] == '26-35') & (data['Gender'] == 'M') | (data['Age'] > '36') & (data['Gender'] == 'F')).mean()
print(rate.round(4))

Wall time: 149 ms
0.4077
================================================================================