In [371]:
import numpy as np
import pandas as pd
sepa = '\n' + '-'*80 + '\n'

In [3]:
arr = [1, 2, 3.0, np.nan, 10.0, 3]
ser_pd = pd.Series(arr)
print(ser_pd)

0     1.0
1     2.0
2     3.0
3     NaN
4    10.0
5     3.0
dtype: float64

In [13]:
print(ser_pd_wit_keys['second'])
print(ser_pd_wit_keys[1])

2.0
2.0

In [31]:
## Indecing

In [32]:
idx_names = ['first', 'second', 'thrid', 'four', 'five', 'six']
ser_pd_wit_keys = pd.Series(arr, index=idx_names)
print(ser_pd_wit_keys)

first      1.0
second     2.0
thrid      3.0
four       NaN
five      10.0
six        3.0
dtype: float64

In [33]:
## What if keys and indexes both are int

In [75]:
keys = [1, 2, 3, 4, 5, 6]
series_keys = pd.Series(arr, index=keys, name='Keys')
series_idx = pd.Series(arr, name='Idx')
print(series_keys)
print(series_keys[1])
print(sepa)
print(series_idx)
print(series_idx[1])

1     1.0
2     2.0
3     3.0
4     NaN
5    10.0
6     3.0
Name: Keys, dtype: float64
1.0

------------------------------------------------------------

0     1.0
1     2.0
2     3.0
3     NaN
4    10.0
5     3.0
Name: Idx, dtype: float64
2.0

In [76]:
print(series_idx[::-1])
print(series_keys[::-1])

5     3.0
4    10.0
3     NaN
2     3.0
1     2.0
0     1.0
Name: Idx, dtype: float64
6     3.0
5    10.0
4     NaN
3     3.0
2     2.0
1     1.0
Name: Keys, dtype: float64

In [77]:
print(series_idx[1:3])
print(series_keys[1:3])
print(ser_pd_wit_keys[1:3])
print(ser_pd_wit_keys['second':'four'])

1    2.0
2    3.0
Name: Idx, dtype: float64
2    2.0
3    3.0
Name: Keys, dtype: float64
second    2.0
thrid     3.0
dtype: float64
second    2.0
thrid     3.0
four      NaN
dtype: float64

In [78]:
date_range = pd.date_range('20190101', periods=15)
random_series = pd.Series(np.random.rand(15), index=date_range)
print(date_range, sepa)
print(random_series)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15'],
              dtype='datetime64[ns]', freq='D')
------------------------------------------------------------

2019-01-01    0.449916
2019-01-02    0.418513
2019-01-03    0.996605
2019-01-04    0.987797
2019-01-05    0.227772
2019-01-06    0.391993
2019-01-07    0.637821
2019-01-08    0.430453
2019-01-09    0.576520
2019-01-10    0.256150
2019-01-11    0.816394
2019-01-12    0.944837
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-15    0.775400
Freq: D, dtype: float64

In [79]:
print((random_series > .3)[::-1], sepa)
print(random_series[random_series > .3])
print(random_series[(random_series > .3) & (random_series < .5)])

2019-01-15     True
2019-01-14     True
2019-01-13     True
2019-01-12     True
2019-01-11     True
2019-01-10    False
2019-01-09     True
2019-01-08     True
2019-01-07     True
2019-01-06     True
2019-01-05    False
2019-01-04     True
2019-01-03     True
2019-01-02     True
2019-01-01     True
Freq: -1D, dtype: bool
------------------------------------------------------------

2019-01-01    0.449916
2019-01-02    0.418513
2019-01-03    0.996605
2019-01-04    0.987797
2019-01-06    0.391993
2019-01-07    0.637821
2019-01-08    0.430453
2019-01-09    0.576520
2019-01-11    0.816394
2019-01-12    0.944837
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-15    0.775400
dtype: float64
2019-01-01    0.449916
2019-01-02    0.418513
2019-01-06    0.391993
2019-01-08    0.430453
dtype: float64

In [80]:
print(random_series.sort_index(), sepa)
print(random_series.sort_values())

2019-01-01    0.449916
2019-01-02    0.418513
2019-01-03    0.996605
2019-01-04    0.987797
2019-01-05    0.227772
2019-01-06    0.391993
2019-01-07    0.637821
2019-01-08    0.430453
2019-01-09    0.576520
2019-01-10    0.256150
2019-01-11    0.816394
2019-01-12    0.944837
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-15    0.775400
Freq: D, dtype: float64
------------------------------------------------------------

2019-01-05    0.227772
2019-01-10    0.256150
2019-01-06    0.391993
2019-01-02    0.418513
2019-01-08    0.430453
2019-01-01    0.449916
2019-01-09    0.576520
2019-01-07    0.637821
2019-01-15    0.775400
2019-01-11    0.816394
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-12    0.944837
2019-01-04    0.987797
2019-01-03    0.996605
dtype: float64

In [83]:
print(random_series * 100, sepa)
print(np.exp(random_series))

2019-01-01    44.991552
2019-01-02    41.851341
2019-01-03    99.660505
2019-01-04    98.779708
2019-01-05    22.777201
2019-01-06    39.199295
2019-01-07    63.782135
2019-01-08    43.045270
2019-01-09    57.651989
2019-01-10    25.615023
2019-01-11    81.639425
2019-01-12    94.483682
2019-01-13    87.822323
2019-01-14    93.469234
2019-01-15    77.540006
Freq: D, dtype: float64
------------------------------------------------------------

2019-01-01    1.568180
2019-01-02    1.519701
2019-01-03    2.709069
2019-01-04    2.685312
2019-01-05    1.255799
2019-01-06    1.479927
2019-01-07    1.892354
2019-01-08    1.537954
2019-01-09    1.779834
2019-01-10    1.291947
2019-01-11    2.262328
2019-01-12    2.572394
2019-01-13    2.406620
2019-01-14    2.546430
2019-01-15    2.171461
Freq: D, dtype: float64

In [90]:
series1 = pd.Series(np.random.randint(0, 10, 5) + 10 * np.random.randint(0, 10, 5))
series2 = pd.Series(np.random.randint(0, 10, 8) + 10 * np.random.randint(0, 10, 8))
print(series1, sepa)
print(series2, sepa)
print(series1 + series2)
print(series1.shape)

0    95
1    28
2    70
3    33
4    33
dtype: int64
------------------------------------------------------------

0    58
1    92
2    15
3    53
4     1
5     8
6    18
7    20
dtype: int64
------------------------------------------------------------

0    153.0
1    120.0
2     85.0
3     86.0
4     34.0
5      NaN
6      NaN
7      NaN
dtype: float64
(5,)

## pd.DataFrame

In [130]:
my_dict = {
    'first': np.array([1, 2, 3, 4, 5]),
    'second': np.arange(5, 0, -1),
    'third': np.random.rand(5)
}

my_df = pd.DataFrame(my_dict, index='a b c d e'.split())
print(my_df)

   first  second     third
a      1       5  0.140128
b      2       4  0.245386
c      3       3  0.558765
d      4       2  0.118241
e      5       1  0.393320

In [111]:
my_dict = {
    '1st': pd.Series(np.arange(5, 0, -1), index='a b c d e'.split()),
    '2st': pd.Series(np.random.rand(5), index='a b c d e'.split())
}
mu_df = pd.DataFrame(my_dict)
print(my_df)

   first  second     third
a      1       5  0.461853
b      2       4  0.543964
c      3       3  0.777339
d      4       2  0.534421
e      5       1  0.146403

In [151]:
my_dict = {
    '1st': pd.Series(np.arange(5, 0, -1), index='a b c d e'.split()),
    '2st': pd.Series(np.random.rand(7), index='a b c d e f g'.split())
}
my_df = pd.DataFrame(my_dict, index='a b c d e f g h'.split())
print(my_df, sepa)
my_df = pd.DataFrame(my_dict, index='b c a d'.split())
print(my_df, sepa)
my_df = pd.DataFrame(my_dict, index='a b1 c1 d1'.split())
print(my_df, sepa)

   1st       2st
a  5.0  0.974889
b  4.0  0.937486
c  3.0  0.819958
d  2.0  0.748628
e  1.0  0.206100
f  NaN  0.349469
g  NaN  0.712304
h  NaN       NaN
------------------------------------------------------------

   1st       2st
b    4  0.937486
c    3  0.819958
a    5  0.974889
d    2  0.748628
------------------------------------------------------------

    1st       2st
a   5.0  0.974889
b1  NaN       NaN
c1  NaN       NaN
d1  NaN       NaN
------------------------------------------------------------

In [160]:
my_dict = {
    '1st': pd.Series(np.arange(6, 0, -1)),
    '2st': pd.Series(np.random.rand(10))
}
my_df = pd.DataFrame(my_dict)
print(my_df, sepa)

my_dict = {
    'first': np.array([1, 2, 3, 4, 5]),
    'second': np.arange(5, 0, -1),
    'third': np.random.rand(5)
}

my_df = pd.DataFrame(my_dict, index='a b c d e'.split())
print(my_df)

   1st       2st
0  6.0  0.742526
1  5.0  0.680054
2  4.0  0.804161
3  3.0  0.196437
4  2.0  0.213586
5  1.0  0.802223
6  NaN  0.705481
7  NaN  0.728579
8  NaN  0.809062
9  NaN  0.348358
------------------------------------------------------------

   first  second     third
a      1       5  0.482867
b      2       4  0.809061
c      3       3  0.693435
d      4       2  0.677958
e      5       1  0.641811

In [179]:
series = pd.Series(np.random.randint(10, 99, 5), index='a b c d e'.split())
print(series, sepa)
print(f'{series["c"]=}', type(series['a']), f'{series[2]=}', sepa)
      
series = pd.Series(np.random.randint(10, 99, 5), index='a a c c e'.split())
print(series, sepa)
print(series['a'], sepa, series['c'], sepa, series[1])

a    18
b    24
c    93
d    74
e    81
dtype: int64
------------------------------------------------------------

series["c"]=93 <class 'numpy.int64'> series[2]=93
------------------------------------------------------------

a    92
a    24
c    80
c    50
e    35
dtype: int64
------------------------------------------------------------

a    92
a    24
dtype: int64
------------------------------------------------------------
 c    80
c    50
dtype: int64
------------------------------------------------------------
 24

In [232]:
my_dict = {
    '1st': pd.Series(np.arange(5, 0, -1), index='a b c d e'.split()),
    '2st': pd.Series(np.random.rand(7), index='a b c d e f g'.split())
}
my_df = pd.DataFrame(my_dict, index='a b c d e f g h'.split(), columns='1st 2st 3d'.split())
print(my_df, sepa)
print(my_df['1st'], sepa)
print(my_df['1st']['a':'f'])

   1st       2st   3d
a  5.0  0.321594  NaN
b  4.0  0.976918  NaN
c  3.0  0.696366  NaN
d  2.0  0.442415  NaN
e  1.0  0.096019  NaN
f  NaN  0.800762  NaN
g  NaN  0.809784  NaN
h  NaN       NaN  NaN
------------------------------------------------------------

a    5.0
b    4.0
c    3.0
d    2.0
e    1.0
f    NaN
g    NaN
h    NaN
Name: 1st, dtype: float64
------------------------------------------------------------

a    5.0
b    4.0
c    3.0
d    2.0
e    1.0
f    NaN
Name: 1st, dtype: float64

In [236]:
print(my_df.values)
print(my_df.index)
print(my_df.columns)

[[5.0 0.32159432265376475 nan]
 [4.0 0.9769175656745724 nan]
 [3.0 0.6963659685048708 nan]
 [2.0 0.4424150992065904 nan]
 [1.0 0.09601926011720119 nan]
 [nan 0.8007616146031961 nan]
 [nan 0.8097840922157158 nan]
 [nan nan nan]]
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
Index(['1st', '2st', '3d'], dtype='object')

In [260]:
my_df.columns = ['c1st', 'c2d', 'c3d']
my_df.index = ['a1 b1 c1 d1 e1 f1 g1 a1'.split()]
print(my_df)
print(my_df['c1st']['a1'])

    c1st       c2d  c3d
a1   5.0  0.321594  NaN
b1   4.0  0.976918  NaN
c1   3.0  0.696366  NaN
d1   2.0  0.442415  NaN
e1   1.0  0.096019  NaN
f1   NaN  0.800762  NaN
g1   NaN  0.809784  NaN
a1   NaN       NaN  NaN
a1    5.0
a1    NaN
Name: c1st, dtype: float64

## Indexing DataFrame

### column indexing

In [263]:
print(my_df, sepa)

    c1st       c2d  c3d
a1   5.0  0.321594  NaN
b1   4.0  0.976918  NaN
c1   3.0  0.696366  NaN
d1   2.0  0.442415  NaN
e1   1.0  0.096019  NaN
f1   NaN  0.800762  NaN
g1   NaN  0.809784  NaN
a1   NaN       NaN  NaN
------------------------------------------------------------

In [264]:
print(my_df['c1st'])

a1    5.0
b1    4.0
c1    3.0
d1    2.0
e1    1.0
f1    NaN
g1    NaN
a1    NaN
Name: c1st, dtype: float64

In [269]:
print(my_df.c1st)

a1    5.0
b1    4.0
c1    3.0
d1    2.0
e1    1.0
f1    NaN
g1    NaN
a1    NaN
Name: c1st, dtype: float64

In [272]:
print(my_df[['c1st','c3d']])

    c1st  c3d
a1   5.0  NaN
b1   4.0  NaN
c1   3.0  NaN
d1   2.0  NaN
e1   1.0  NaN
f1   NaN  NaN
g1   NaN  NaN
a1   NaN  NaN

In [280]:
print(my_df[1:4])

    c1st       c2d  c3d
b1   4.0  0.976918  NaN
c1   3.0  0.696366  NaN
d1   2.0  0.442415  NaN

### row indexing

In [282]:
print(my_df)

    c1st       c2d  c3d
a1   5.0  0.321594  NaN
b1   4.0  0.976918  NaN
c1   3.0  0.696366  NaN
d1   2.0  0.442415  NaN
e1   1.0  0.096019  NaN
f1   NaN  0.800762  NaN
g1   NaN  0.809784  NaN
a1   NaN       NaN  NaN

In [300]:
print(my_df.iloc[1:6:1, 0:2:1])

    c1st       c2d
b1   4.0  0.976918
c1   3.0  0.696366
d1   2.0  0.442415
e1   1.0  0.096019
f1   NaN  0.800762

In [321]:
print(my_df)
print(my_df.loc[['b1', 'c1', 'd1'], ['c1st', 'c2d']])

    c1st       c2d  c3d
a1   5.0  0.321594  NaN
b1   4.0  0.976918  NaN
c1   3.0  0.696366  NaN
d1   2.0  0.442415  NaN
e1   1.0  0.096019  NaN
f1   NaN  0.800762  NaN
g1   NaN  0.809784  NaN
a1   NaN       NaN  NaN
    c1st       c2d
b1   4.0  0.976918
c1   3.0  0.696366
d1   2.0  0.442415

## DataFrame modifaing

In [337]:
my_dict = {
    '1st': pd.Series(np.arange(5, 0, -1), index='a b c d e'.split()),
    '2d':  pd.Series(np.random.random(7), index='a b c d e f g'.split())
}
my_df = pd.DataFrame(my_dict, index='a b c d e f g a'.split(), columns=['1st', '2d', '3d'])
print(my_df, sepa)
my_df['new_column'] = [1, 2, 3, 4, 5, 6, 7, 8]
print(my_df, sepa)
my_df['another_one'] = pd.Series([1, 2, 3], index=['c', 'a', 'g'])
print(my_df)
my_df['summ'] = pd.Series(my_df['1st'] + my_df['2d'])
print(my_df)

   1st        2d   3d
a  5.0  0.530278  NaN
b  4.0  0.843843  NaN
c  3.0  0.363362  NaN
d  2.0  0.389286  NaN
e  1.0  0.271182  NaN
f  NaN  0.610230  NaN
g  NaN  0.600468  NaN
a  5.0  0.530278  NaN
------------------------------------------------------------

   1st        2d   3d  new_column
a  5.0  0.530278  NaN           1
b  4.0  0.843843  NaN           2
c  3.0  0.363362  NaN           3
d  2.0  0.389286  NaN           4
e  1.0  0.271182  NaN           5
f  NaN  0.610230  NaN           6
g  NaN  0.600468  NaN           7
a  5.0  0.530278  NaN           8
------------------------------------------------------------

   1st        2d   3d  new_column  another_one
a  5.0  0.530278  NaN           1          2.0
b  4.0  0.843843  NaN           2          NaN
c  3.0  0.363362  NaN           3          1.0
d  2.0  0.389286  NaN           4          NaN
e  1.0  0.271182  NaN           5          NaN
f  NaN  0.610230  NaN           6          NaN
g  NaN  0.600468  NaN           7          3.0
a  5.0  0.530278  NaN           8          2.0
   1st        2d   3d  new_column  another_one      summ
a  5.0  0.530278  NaN           1          2.0  5.530278
b  4.0  0.843843  NaN           2          NaN  4.843843
c  3.0  0.363362  NaN           3          1.0  3.363362
d  2.0  0.389286  NaN           4          NaN  2.389286
e  1.0  0.271182  NaN           5          NaN  1.271182
f  NaN  0.610230  NaN           6          NaN       NaN
g  NaN  0.600468  NaN           7          3.0       NaN
a  5.0  0.530278  NaN           8          2.0  5.530278

## Real DataSet

In [349]:
dataset_link = 'https://www.dropbox.com/s/lyzcuxu1pdrw5qb/titanic_data.csv?dl=1'
pass_data = pd.read_csv(dataset_link, index_col='PassengerId')

In [352]:
print(pass_data[:3])

             Pclass                                               Name  \
PassengerId
1                 3                            Braund, Mr. Owen Harris
2                 1  Cumings, Mrs. John Bradley (Florence Briggs Th...
3                 3                             Heikkinen, Miss. Laina

                Sex   Age  SibSp  Parch            Ticket     Fare Cabin  \
PassengerId
1              male  22.0      1      0         A/5 21171   7.2500   NaN
2            female  38.0      1      0          PC 17599  71.2833   C85
3            female  26.0      0      0  STON/O2. 3101282   7.9250   NaN

            Embarked
PassengerId
1                  S
2                  C
3                  S

In [354]:
print(pass_data.head(3), sepa)

             Pclass                                               Name  \
PassengerId
1                 3                            Braund, Mr. Owen Harris
2                 1  Cumings, Mrs. John Bradley (Florence Briggs Th...
3                 3                             Heikkinen, Miss. Laina

                Sex   Age  SibSp  Parch            Ticket     Fare Cabin  \
PassengerId
1              male  22.0      1      0         A/5 21171   7.2500   NaN
2            female  38.0      1      0          PC 17599  71.2833   C85
3            female  26.0      0      0  STON/O2. 3101282   7.9250   NaN

            Embarked
PassengerId
1                  S
2                  C
3                  S
------------------------------------------------------------

In [358]:
print(pass_data.shape, sepa)
print(pass_data.info())

(891, 10)
------------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB
None

In [373]:
%%time
print(pass_data.describe(), sepa)
print('mean ticket price =', pass_data.describe()['Fare']['mean'])
print('median ticket price =', pass_data.describe()['Fare']['50%'], sepa)

           Pclass         Age       SibSp       Parch        Fare
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118    0.523008    0.381594   32.204208
std      0.836071   14.526497    1.102743    0.806057   49.693429
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    0.000000    0.000000    7.910400
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200
--------------------------------------------------------------------------------

mean ticket price = 32.2042079685746
median ticket price = 14.4542
--------------------------------------------------------------------------------

CPU times: user 46 ms, sys: 4.24 ms, total: 50.2 ms
Wall time: 48.4 ms

In [393]:
print(pass_data.info(), sepa)

min_age = np.min(pass_data['Age'])
mean_age = np.mean(pass_data['Age'])
max_age = np.max(pass_data['Age'])

min_age = pass_data['Age'].min()
mean_age = pass_data['Age'].mean()
max_age = pass_data['Age'].max()


print(f'{min_age=}, {max_age=}, {mean_age=}')
pass_stats = pass_data.describe()
print(pass_stats['Age']['min'], pass_stats['Age']['max'], pass_stats['Age']['mean'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB
None
--------------------------------------------------------------------------------

min_age=0.42, max_age=80.0, mean_age=29.69911764705882
0.42 80.0 29.69911764705882

## pd_data_frame.value_counts()

In [412]:
female_num = len(pass_data[pass_data['Sex'] == 'female'])
male_num = len(pass_data[pass_data['Sex'] == 'male'])


print(f'''
Female Num = {female_num} ({female_num/(female_num + male_num) * 100} %)
Male Num = {male_num} ({male_num/(female_num + male_num) * 100} %)''', sepa)

male_female = pass_data.value_counts('Sex') 
male_female = pass_data['Sex'].value_counts()  # equal usage
male_female_percentage = male_female / male_female.sum() * 100
print(male_female_percentage, sepa)

class_distr = pass_data.value_counts('Pclass')
class_distr_percentage = class_distr / class_distr.sum() * 100
print(class_distr_percentage, sepa)

Female Num = 314 (35.24130190796858 %)
Male Num = 577 (64.75869809203144 %)
--------------------------------------------------------------------------------

male      64.758698
female    35.241302
Name: Sex, dtype: float64
--------------------------------------------------------------------------------

Pclass
3    55.106622
1    24.242424
2    20.650954
dtype: float64
--------------------------------------------------------------------------------

In [443]:
group_stats = pass_data.groupby('Pclass').describe()
# print(group_stats, sepa)
print(group_stats['Age'], sepa)
print(pass_data.groupby('Pclass')['Age'].mean(), sepa)
print(pass_data.groupby('Pclass').mean()['Age'], sepa)

        count       mean        std   min   25%   50%   75%   max
Pclass
1       186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0
2       173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0
3       355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0
--------------------------------------------------------------------------------

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64
--------------------------------------------------------------------------------

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64
--------------------------------------------------------------------------------

## Join