In [71]:
import numpy as np
import pandas as pd
sepa = '\n' + '-'*60 + '\n'

In [3]:
arr = [1, 2, 3.0, np.nan, 10.0, 3]
ser_pd = pd.Series(arr)
print(ser_pd)

0     1.0
1     2.0
2     3.0
3     NaN
4    10.0
5     3.0
dtype: float64

In [13]:
print(ser_pd_wit_keys['second'])
print(ser_pd_wit_keys[1])

2.0
2.0

In [31]:
## Indecing

In [32]:
idx_names = ['first', 'second', 'thrid', 'four', 'five', 'six']
ser_pd_wit_keys = pd.Series(arr, index=idx_names)
print(ser_pd_wit_keys)

first      1.0
second     2.0
thrid      3.0
four       NaN
five      10.0
six        3.0
dtype: float64

In [33]:
## What if keys and indexes both are int

In [75]:
keys = [1, 2, 3, 4, 5, 6]
series_keys = pd.Series(arr, index=keys, name='Keys')
series_idx = pd.Series(arr, name='Idx')
print(series_keys)
print(series_keys[1])
print(sepa)
print(series_idx)
print(series_idx[1])

1     1.0
2     2.0
3     3.0
4     NaN
5    10.0
6     3.0
Name: Keys, dtype: float64
1.0

------------------------------------------------------------

0     1.0
1     2.0
2     3.0
3     NaN
4    10.0
5     3.0
Name: Idx, dtype: float64
2.0

In [76]:
print(series_idx[::-1])
print(series_keys[::-1])

5     3.0
4    10.0
3     NaN
2     3.0
1     2.0
0     1.0
Name: Idx, dtype: float64
6     3.0
5    10.0
4     NaN
3     3.0
2     2.0
1     1.0
Name: Keys, dtype: float64

In [77]:
print(series_idx[1:3])
print(series_keys[1:3])
print(ser_pd_wit_keys[1:3])
print(ser_pd_wit_keys['second':'four'])

1    2.0
2    3.0
Name: Idx, dtype: float64
2    2.0
3    3.0
Name: Keys, dtype: float64
second    2.0
thrid     3.0
dtype: float64
second    2.0
thrid     3.0
four      NaN
dtype: float64

In [78]:
date_range = pd.date_range('20190101', periods=15)
random_series = pd.Series(np.random.rand(15), index=date_range)
print(date_range, sepa)
print(random_series)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15'],
              dtype='datetime64[ns]', freq='D')
------------------------------------------------------------

2019-01-01    0.449916
2019-01-02    0.418513
2019-01-03    0.996605
2019-01-04    0.987797
2019-01-05    0.227772
2019-01-06    0.391993
2019-01-07    0.637821
2019-01-08    0.430453
2019-01-09    0.576520
2019-01-10    0.256150
2019-01-11    0.816394
2019-01-12    0.944837
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-15    0.775400
Freq: D, dtype: float64

In [79]:
print((random_series > .3)[::-1], sepa)
print(random_series[random_series > .3])
print(random_series[(random_series > .3) & (random_series < .5)])

2019-01-15     True
2019-01-14     True
2019-01-13     True
2019-01-12     True
2019-01-11     True
2019-01-10    False
2019-01-09     True
2019-01-08     True
2019-01-07     True
2019-01-06     True
2019-01-05    False
2019-01-04     True
2019-01-03     True
2019-01-02     True
2019-01-01     True
Freq: -1D, dtype: bool
------------------------------------------------------------

2019-01-01    0.449916
2019-01-02    0.418513
2019-01-03    0.996605
2019-01-04    0.987797
2019-01-06    0.391993
2019-01-07    0.637821
2019-01-08    0.430453
2019-01-09    0.576520
2019-01-11    0.816394
2019-01-12    0.944837
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-15    0.775400
dtype: float64
2019-01-01    0.449916
2019-01-02    0.418513
2019-01-06    0.391993
2019-01-08    0.430453
dtype: float64

In [80]:
print(random_series.sort_index(), sepa)
print(random_series.sort_values())

2019-01-01    0.449916
2019-01-02    0.418513
2019-01-03    0.996605
2019-01-04    0.987797
2019-01-05    0.227772
2019-01-06    0.391993
2019-01-07    0.637821
2019-01-08    0.430453
2019-01-09    0.576520
2019-01-10    0.256150
2019-01-11    0.816394
2019-01-12    0.944837
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-15    0.775400
Freq: D, dtype: float64
------------------------------------------------------------

2019-01-05    0.227772
2019-01-10    0.256150
2019-01-06    0.391993
2019-01-02    0.418513
2019-01-08    0.430453
2019-01-01    0.449916
2019-01-09    0.576520
2019-01-07    0.637821
2019-01-15    0.775400
2019-01-11    0.816394
2019-01-13    0.878223
2019-01-14    0.934692
2019-01-12    0.944837
2019-01-04    0.987797
2019-01-03    0.996605
dtype: float64

In [83]:
print(random_series * 100, sepa)
print(np.exp(random_series))

2019-01-01    44.991552
2019-01-02    41.851341
2019-01-03    99.660505
2019-01-04    98.779708
2019-01-05    22.777201
2019-01-06    39.199295
2019-01-07    63.782135
2019-01-08    43.045270
2019-01-09    57.651989
2019-01-10    25.615023
2019-01-11    81.639425
2019-01-12    94.483682
2019-01-13    87.822323
2019-01-14    93.469234
2019-01-15    77.540006
Freq: D, dtype: float64
------------------------------------------------------------

2019-01-01    1.568180
2019-01-02    1.519701
2019-01-03    2.709069
2019-01-04    2.685312
2019-01-05    1.255799
2019-01-06    1.479927
2019-01-07    1.892354
2019-01-08    1.537954
2019-01-09    1.779834
2019-01-10    1.291947
2019-01-11    2.262328
2019-01-12    2.572394
2019-01-13    2.406620
2019-01-14    2.546430
2019-01-15    2.171461
Freq: D, dtype: float64

In [89]:
series1 = pd.Series(np.random.randint(0, 10, 5) + 10 * np.random.randint(0, 10, 5))
series2 = pd.Series(np.random.randint(0, 10, 8) + 10 * np.random.randint(0, 10, 8))
print(series1, sepa)
print(series2, sepa)
print(series1 + series2)
print(series1.shape)

0    59
1    20
2    45
3    55
4    90
dtype: int64
------------------------------------------------------------

0    70
1    13
2    21
3    58
4    98
5    80
6    34
7    14
dtype: int64
------------------------------------------------------------

0    129.0
1     33.0
2     66.0
3    113.0
4    188.0
5      NaN
6      NaN
7      NaN
dtype: float64
(5,)